body{
    background-color: black;
}
p,label{
    color: white;
    
}
.main{
    padding: 0 20px;
    width: 400px;
    height: 500px;
}
.main_wrap{
    display: flex;
    // justify-content:space-around;
    flex-direction: column;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 85%;
    .css-wz5myd{
        margin: 0px !important;

    }
}
.row{
    width: 100%;
    height: 1px;
    background-color: #676767;
}


.grayscale{
    filter: grayscale(100%) !important;
    -webkit-filter: grayscale(100%) !important;


}